<div class="row">
    <div class="col-sm-6">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">Gestión lotes</div>
            <div class="card-body">
                <h4 class="card-title">Buscador de lote</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!/batch-search" class="btn btn-primary float-right">Ir</a>
            </div>
        </div>
    </div>
</div>
